.taskForm {
  width: calc(100vw - 140px);
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.taskForm > form {
  width: 300px;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
}
.taskForm > form input,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: 17px;
}
.taskForm > form > h3 {
  margin-bottom: 1rem;
}
.taskForm > form > button {
  padding: 7px;
  outline: none;
  border: none;
  width: 100%;
  background: #47d4a7;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
