.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
a {
  text-decoration: none;
}
.navAvatar {
  color: white;
  text-align: center;
  font-size: 16px;
}
.navAvatar img {
  width: 60px;
  border-radius: 10px;
}
.navIcons {
  text-align: center;
  color: white;
  padding: 1rem 0;
  cursor: pointer;
}
.nav {
  padding-top: 3rem;
}
.navIcons svg {
  color: rgba(255, 255, 255, 0.807);
  font-size: 30px;
}
